body{
    background-color: #edeff0;
}


#nav{
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    height: 6.2rem;
 
}

#gitGraph{
    background-color: #3b4750;
    width: 339px  !important;
    height: 538px !important;
}

#cont{
    background-color: #fdfdfd;
}

#container{
    margin-top: 5px;
}

#login-page{
    background-color: #3b4750;
}

#login-section{
    height: 100vh;
    padding-top: 170px;
}

#login-text{
    color: #edeff0;
}

#login-form{
    background-color: #edeff0;
    border-radius: 3px;
    padding-top: 25px;
}

#logaut{
    background-color: #4e6fc9;
    margin-top: 10px;


}

.treeName{
    cursor: pointer
}

#r{
    box-sizing: border-box;

}

.InputAddOn-item {
    background-color: hsla(31,15%,50%,.1);
    color: #666;
    font: inherit;
    font-weight: 400;
}

.InputAddOn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5em;
}

.InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0;
}

.InputAddOn-field:not(:first-child) {
    border-left: 0;
}

.InputAddOn-field, .InputAddOn-item {
    border: 1px solid hsla(31,15%,50%,.25);
    padding: .5em .75em;
}

.InputAddOn-field {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}