<div class="row" id="container">
        <div class="column" id="nav">
            <h2>Path of Master</h2>
        </div>
    </div>

    <div class="row">
        <div class="column column-25" id="trem">
            <canvas id="tree"></canvas>
        </div>
        <div class="column column-70" id="cont">
            <div id="description">
                    <form>
                            <fieldset>
                              <label for="nameField">Name of tree</label>
                              <input type="text" placeholder="tunombre" id="nameField">
                              <label for="commentField">description</label>
                              <textarea placeholder="aprenderemos como hacer la mejor comida del munde en poco tienpo con unos muy sensillos pasos" id="commentField"></textarea>
                              <input class="button-primary" type="submit" value="crear">
                            </fieldset>
                          </form>
            </div>
        </div>
    </div>