<div>
    <form id="formNewNode" >
        <fieldset>
            <label for="nameField">Name</label>
            <input type="text" placeholder="tunombre" name="name">
            <label for="commentField">description</label>
            <textarea placeholder="aprenderemos como hacer la mejor comida del munde en poco tienpo con unos muy sensillos pasos"
                id="commentField" name="descripcion" ></textarea>
            <label for="nameField">link</label>
            <input name="link1" type="text" placeholder="example:http://pathofmaster.local/ui/formulario.html" id="link1">
            <input name="link2" type="text" placeholder="example:http://pathofmaster.local/ui/formulario.html" id="link2">
            <input name="link3" type="text" placeholder="example:http://pathofmaster.local/ui/formulario.html" id="link3">
            <input class="button-primary" type="submit" value="iniciar">
        </fieldset>
    </form>
</div>