<div>
    <form id="newTree">
        <fieldset>
            <label for="nameField">Name of tree</label>
            <input type="text" placeholder="tunombre" name="name">
            <label for="commentField">description</label>
            <textarea name="description" placeholder="aprenderemos como hacer la mejor comida del munde en poco tienpo con unos muy sensillos pasos"
                id="commentField"></textarea>
            <input type="submit" value="Crear" />
        </fieldset>
    </form>
</div>