<div id="addtree-page" class="row">
    <div id="addtree-cont" class="column">
    <form id="newTree">
        <fieldset>
            <label for="nameField">Name of tree</label>
            <input type="text" placeholder="tunombre" name="name">
            <label for="commentField">description</label>
            <textarea id="treeDestrion" name="description" placeholder="aprenderemos como hacer la mejor comida del munde en poco tienpo con unos muy sensillos pasos"
                 ></textarea>
            <input name="link1" type="text" placeholder="example:http://pathofmaster.local/ui/formulario.html" id="link1">
                <input name="link2" type="text" placeholder="example:http://pathofmaster.local/ui/formulario.html" id="link2">
                <input name="link3" type="text" placeholder="example:http://pathofmaster.local/ui/formulario.html" id="link3">
            <input type="submit" value="Crear" />
        </fieldset>
    </form>
    </div>
    <div class="column column-25"></div>
</div>