<div class="row">
    <div class="column" id="campousuario">
        <h2>Path of Master</h2>
    </div>
    <div class="column column-20" id="botomcrear">
        <div id="botomcrear">
            <a class="button" href="#/addtree">Crear arbol</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="column " id="contenido">
        <h1>COtenido</h1>
    </div>
</div>
<div>
    <div class="row">
        <div class="column " id="desss">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex laudantium, perferendis, ut accusantium quos
            eaque qui omnis reiciendis excepturi vitae saepe debitis tempore numquam hic nesciunt impedit mollitia
            minima facere?
        </div>
    </div>
</div>