<div id="nav" class="row">
    <div class="column column-80">
        <a href="#/home"> <h2>Path of Master</h2></a>
    </div>
    <div class="column">
        <a class="button" href="#/logout" id="logaut">logout</a>
    </div>
</div>


<div id="container">
    <div class="row">
        <div class="column column-25" id="tree">
            <div id="tree-see"></div>
        </div>
        <div class="column column-75" id="content">
            <!-- Render Option -->
        </div>
    </div>
</div>