<div class="row">
    <div class="column" id="nav">
        <h2>Path of Master</h2>
    </div>
</div>

<div id="container">
    <div class="row">
        <div class="column column-25" id="tree">
            <canvas id="tree-canvas"></canvas>
        </div>
        <div class="column column-75" id="content">
            <!-- Render Option -->
        </div>
    </div>
</div>