<div id="login-page">
    <div class="container">
        <div id="login-section">
            <div class="row">
                <div class="column column-67" id="login-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque reiciendis libero perspiciatis
                    quo
                    voluptate voluptatum, doloribus eaque deserunt excepturi possimus deleniti distinctio voluptatibus
                    dolor eligendi tempora consequuntur nobis delectus est.
                </div>
                <div class="column column-33" id="login-form">
                    <form id="login" action="" method="POST">
                        <fieldset>
                            <label for="nameField">username</label>
                            <input type="text" name="username" />
                            <label for="clave">password</label>
                            <input type="text" name="password" />
                            <input type="submit" value="Sign In" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>