<div>
    <a class="button" href="#/addnode">Crear nodo antes 1</a>
    <a class="button" href="#/addnode">Crear nodo despues 2</a>
</div>
  <div class="row">
    <div class="column">
        <p id="nametree">
            
        </p>
    </div>
  </div>

  <div class="row">
    <div class="column">.column</div>
  </div>
</div>